.header{
  		width: 100%;
  		height: 60px;
  		border-bottom: 1px solid #e2e2e2;
  		z-index: 99999;
  		/*background-color: #d2d2d2;*/
  	}
.container{
	width: 100%;
	height: 60px;
	background-color: #eeeeee;
	/*background: -moz-linear-gradient(45deg, #955df4, #945cf3, #6f74f2, #667af3);
		background: -webkit-gradient(linear,
			left bottom,
			right top,
			from(#955df4),
			color-stop(0.3, #945cf3),
			color-stop(0.5, #6f74f2),
			color-stop(0.7, #6f74f2),
			to(#667af3));
		background: -webkit-linear-gradient(45deg, #955df4, #945cf3, #6f74f2, #667af3);
		background: -o-linear-gradient(45deg, #955df4, #945cf3, #6f74f2, #667af3);
		background: -ms-linear-gradient(45deg, #955df4, #945cf3, #6f74f2, #667af3);
		background: linear-gradient(45deg, #955df4, #945cf3, #6f74f2, #667af3);*/
}
.title{
	font-size: 22px;
	/*text-align: center;*/
	line-height: 60px;
}
.rightnav{
	text-align: center;
	line-height: 60px;
	/*color: #2F4056;*/
	/*background-color: #eeeeee;*/
}
.rightnav li a{
	/*color: #2F4056;*/
}
